/*重置样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, input, h6, form, fieldset, legend, img, div { box-sizing: border-box; margin:0; padding:0;}

fieldset, img { border:none; }

img{vertical-align: top;}

em,i,strong,b{ font-style:normal; font-weight:normal; }

ul, ol{ list-style:none; } 

ul, li{list-style:none;} 

a {text-decoration:none;}

.ind{text-indent: 2em;}

.noborder{border: none;}

.nobg{background:none;}

.floatL{float: left;}

.floatR{float: right;}

$w:1200px;
header{
    $h:100px;
	width:100%;
	height:$h;
	background: #e9546b;
	.box{
	    width:$w;
	    height:$h;
	    margin:0 auto;
	    position: relative;
	    .box_top{
	    	width: $w;
	    	height: 27px;
	    	p{
	    		width: 120px;
	    		height: 27px;
	    		line-height: 27px;
	    		font-size: 12px;
	    		color: white;
	    		position: absolute;
	    		left: 880px;
	    		right: 120px;	
	    	}
	    	.link{
	    		float: right;
	    		width: 100px;
	    		height: 27px;
	    		position: relative;
	    		img{
	    			position: absolute;
	    			left: 49px;
	    			top: 6px;
	    		}
	    		a{
	    			color: white;
	    			font-size: 12px;
	    			line-height: 27px;
	    		}
	    		.register{
	    			position: absolute;
	    			right: 0px;
	    		}
	    	}
	    }
	    .box_up{
	    	width: $w;
	    	height: 73px;
	    	position: relative;
	    	background-image: url(../img/icons/icon_new.gif);
	    	background-repeat: no-repeat;
	    	background-position: 492px 20px;
	    	.basket{
	    		position: absolute;
			    right: 108px;
			    bottom: 23px;
			    width: 80px;
			    height: 18px;
			    border-left: 1px solid #fff;
			    border-right: 1px solid #fff;
			    a{
			    	display: block;
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    width: 24px;
				    height: 20px;
				    margin: -10px 0 0 -12px;
				    background-image: url(../img/icons/icon_basket_header.png);
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: 50%;
				    #ShopCartNum{
				    	display: block;
					    position: absolute;
					    top: -20px;
					    right: 2px;
					    width: 20px;
					    height: 20px;
					    text-align: center;
					    line-height: 16px;
					    font-size: 12px;
					    color: #e9546b;
					    background-color: #fff;
					    border-radius: 50%;
					    border: none;
				    }
			    }
	    	}
	    	.locator{
	    		position: absolute;
			    right: 0;
			    bottom: 24px;
			    width: 62px;
			    height: 18px;
			    padding-right: 20px;
			    #peisong{
			    	width: 155px;
			    }
			    .content{
			    	display: none;
				    position: absolute;
				    top: 44px;
				    right: 10px;
				    z-index: 99999;
				    width: 212px;
				    border: 1px solid #e9546b;
				    border-top: none;
				    font-size: 14px;
				    color: #515151;
				    background-color: #fff;
				    ul{
				    	width: 100%;
				    	li{
				    		&:hover{
				    			background-color:#e9546b;
				    			color: #fff;
				    		}
				    	}
				    	li{
				    		display: inline-block;
						    float: left;
						    width: 50px;
						    height: 25px;
						    margin: 0 0 15px 17px;
						    line-height: 25px;
						    text-align: center;
						    border-radius: 2px;
    						cursor: pointer;
				    	}
				    	li{
				    		.active{
				    			background-color: #e9546b;
				    			color: #fff;
				    		}
				    	}
				    }
				    .clearfix{
				    	zoom: 1;
				    }
				    p{
				    	line-height: 20px;
    					margin-left: 10px;
				    }
				    .arrow-up{
				    	display: none;
					    position: absolute;
					    top: 44px;
					    right: 10px;
					    z-index: 99999;
					    width: 288px;
					    border: 1px solid #e9546b;
					    border-top: none;
					    font-size: 14px;
					    color: #515151;
					    background-color: #fff;
				    }
			    }
			    #localCity{
			    	width: 40px;
				    height: 18px;
				    line-height: 19px;
				    text-align: center;
				    font-size: 14px;
				    color: #fff;
				    cursor: pointer;
				    border-right: 1px solid; 
			    }
			    span{
			    	position: absolute;
				    top: 8px;
				    right: 61px;
				    width: 10px;
				    height: 5px;
				    background-image: url(../img/icons/icon_arrow_down.png);
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: 50%;
			    }
	    	}
	 
	    	.content{
			    	display: none;
				    position: absolute;
				    top: 41px;
				    left: -120px;
				    z-index: 99999;
				    width: 212px;
				    border: 1px solid #e9546b;
				    border-top: none;
				    background-color: #fff;
				    p{
				    	color: red;
				    }
				    .view-basket{
				    	display: block;
					    width: 100%;
					    line-height: 30px;
					    text-align: center;
					    color: #45515e;
				    }
				    list{
				    	width: 100%;
				    }
				    .arrow-up{
				    	display: block;
					    position: absolute;
					    top: -6px;
					    left: 155px;
					    width: 12px;
					    height: 6px;
					    background-image: url(../img/icons/icon_arrow_up_fill.png);
					    background-repeat: no-repeat;
					    background-size: cover;
					    background-position: 50%;
				    }
			    }
	    	img{
	    		margin-left: 21px;
	    	}
	    	.nav{
				position: absolute;
				bottom: 0;
				left: 241px;
				width: 700px;
				height: 24px;
				padding-bottom: 47px;
				zoom: 1;
				img{
					position: absolute;
					bottom: 0;
				}
				.p1{
					left: 13px;
					display: none;
				}
				.p2{
					left: 21px;
					display: none;
				}
				.p3{
					left: 13px;
					display: none;
				}
				#cakelist{
					&:hover{
						.p1{
							display:block;
						}
					}
				}
				#inlife{
					&:hover{
						.p2{
							display:block;
						}
					}
				}
				#qiyezhaungqu{
					&:hover{
						.p3{
							display:block;
						}
					}
				}
				li{
					position: relative;
					display: block;
					float: left;
					width: 90px;
					height: 47px;
					margin-right: 5px;
					&:hover{
						.hide{
							border:1px solid;
						}
					}
				} 
				.sub{
					&:hover{
						ul{
							display: block;
						}
					}
				}
				li .subnav{
					display: none;
					position: absolute;
					top: 46px;
					left: 0;
					z-index: 99999;
					width: 148px;
					background-color: #fff;
					border: 1px solid #e9546b;
					border-top: none;
					border-radius: 0 0 2px 2px;
					li{
						width: 100%;
						height: 40px;
						border-top: 1px solid #f0f0f0;
						color: #505050;
						position: relative;
						&:hover{
							a{
								background:red;
							}
							span{
								display: block;
							}
						}
					}
					a{
						display: block;
						width: 146px;
						height: 38px;
						line-height: 40px;
						font-size: 12px;
						text-align: center;
						color: inherit;
					} 
				}
				li a{
					display: block;
					width: 88px;
					height: 22px;
					text-align: center;
					line-height: 22px;
					font-size: 14px;
					color: #fff;
					border: 1px solid transparent;
					border-radius: 2px;
				}
				span{
						position: absolute;
						display: none;
						left: 120px;
						top: 9px;
						color: white;
					}
	    	}
	    }
	}
}

















