main{
	width: 100%;
	height: 416px;
	.box{
		width: 1200px;
		height: 416px;
		margin: 0 auto;
		.left{
			width: 572px;
			height: 348px;
			float: left;
			img{
				width: 665px;
				height: 416px;
			}
		}
		.right{
			width: 580px;
			height: 520px;
			float: right;
			form{
				width: 490px;
				height: 416px;
				margin: 0 auto;
				input{
					width: 382px;
					height: 32px;
					margin: 25px 55px;
				}
				.hint{
					width: 382px;
					height: 50px;
					background: orange;
					border: 1px solid red;
					color: white;
					text-align: center;
				}
			}
		}
	}
}