main {
  width: 100%;
  height: 100%;
  position: relative; }
  main .cart h1 {
    text-align: center;
    color: orange; }
  main .cart h2 {
    text-align: center;
    color: pink; }
    main .cart h2 a {
      color: red;
      font-size: 30px; }
  main .cart .row {
    margin: 0 auto; }
    main .cart .row table {
      margin: 0 auto; }
      main .cart .row table .title {
        color: orange;
        font-size: 14px; }
      main .cart .row table .price {
        color: red;
        font-size: 12px; }
      main .cart .row table .del {
        font-size: 14px;
        color: red; }
      main .cart .row table .input-group span {
        width: 20px;
        display: inline-block;
        background: black;
        border: 1px solid;
        text-align: center;
        color: white; }
      main .cart .row table .input-group .amount {
        text-align: center; }
      main .cart .row table .cart_body img {
        width: 100px;
        height: 100px; }
  main .basket-header {
    padding: 40px 0 90px; }
    main .basket-header .title {
      width: 100%;
      padding-bottom: 40px;
      color: #45515e; }
      main .basket-header .title h2 {
        font-size: 34px;
        line-height: 40px;
        font-weight: 400;
        text-align: center; }
      main .basket-header .title p {
        position: relative;
        width: 164px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 20px;
        text-align: center; }
        main .basket-header .title p:after {
          display: block;
          position: absolute;
          top: 10px;
          left: 0;
          z-index: 9;
          content: "";
          width: 100%;
          height: 1px;
          background-color: #45515e; }
        main .basket-header .title p span {
          position: relative;
          z-index: 99;
          padding: 0 15px;
          display: inline-block;
          background-color: #fff; }
    main .basket-header .process {
      position: relative;
      width: 460px;
      height: 18px;
      margin: 0 auto; }
      main .basket-header .process .step {
        position: absolute;
        top: 50%;
        z-index: 10;
        width: 10px;
        height: 10px;
        margin-top: -5px;
        background-color: #c8c8c8;
        border-radius: 50%; }
        main .basket-header .process .step p {
          position: absolute;
          left: 50%;
          top: 26px;
          width: 150px;
          height: 26px;
          margin-left: -75px;
          line-height: 26px;
          text-align: center;
          color: #c8c8c8; }
        main .basket-header .process .step.active {
          margin-top: -9px;
          background-color: #fff;
          border: 4px solid #e9546b; }
          main .basket-header .process .step.active p {
            color: #e9546b; }
      main .basket-header .process .step1 {
        left: 0;
        margin-left: -5px; }
      main .basket-header .process .step2 {
        left: 50%;
        margin-left: -5px; }
      main .basket-header .process .step3 {
        right: 0;
        margin-right: -5px; }
      main .basket-header .process .line {
        position: absolute;
        top: 8px;
        z-index: 9;
        width: 50%;
        height: 1px;
        background-color: #c8c8c8; }
        main .basket-header .process .line.active {
          background-color: #e9546b; }
      main .basket-header .process .line1 {
        left: 0; }
      main .basket-header .process .line2 {
        right: 0; }
  main .address {
    width: 800px;
    height: 200px;
    margin: 0 auto; }
    main .address input {
      width: 400px;
      height: 50px;
      margin: 15px 200px auto; }
    main .address .submit {
      cursor: pointer; }

/*# sourceMappingURL=confirm.css.map */
