/*
Error: Invalid CSS after "footer.scss": expected "{", was ""
        on line 1 of E:\wamp\www\PC-project\src\sass\footer.scss

1: footer.scss

Backtrace:
E:\wamp\www\PC-project\src\sass\footer.scss:1
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:650:in `block_contents'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
F:/Temp/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
F:/Temp/Koala/bin/sass:18:in `load'
F:/Temp/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"footer.scss\": expected \"{\", was \"\"\A         on line 1 of E:\wamp\www\PC-project\src\sass\footer.scss\A \A 1: footer.scss"; }
